<%-include('../template/header-sidebar') %>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Editar Usuário</h1>
        </div>
        <!-- Content Row -->
        <div class="row">
             <div class="container">
                <div class="row">
                    <div class="col-6">
                        <form action="/usuario/update" method="POST" class="card">
                            <input type="hidden" name="id" value="<%- usuario.id %> ">
                            <section class="card-body">
                                <div class="mb-3">
                                    <label class="form-label">Nome</label>
                                    <input type="text" name="nome" value="<%- usuario.nome %>" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">E-mail</label>
                                    <input type="email" name="email" value="<%- usuario.email %>" class="form-control">
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                </div>
                            </section>
                        </form>
                    </div>
                </div>
             </div>
        </div> <!-- Content Row -->
    </div><!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <%-include('../template/footer') %>