<%-include('../template/header-sidebar') %> 
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Gerenciar Usuários</h1>
                    </div>
                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-6">
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Ações</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% usuarios.forEach(function(usuario){ %>
                                <tr>
                                  <td><%-usuario.id %></td>
                                  <td><%-usuario.nome %></td>
                                  <td><%-usuario.email %></td>
                                  <td>
                                    <a href="/usuario/edit/<%-usuario.id %>"class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                                    <a href="/usuario/destroy/<%-usuario.id %>" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                                  </td>
                                </tr>
                             <% }); %>
                            </tbody>
                          </table>
                          </div>
                    </div> <!-- Content Row -->

                </div><!-- /.container-fluid -->
                

            </div>
            <!-- End of Main Content -->

           
<%-include('../template/footer') %> 